/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2020, 3:32:27 PM
    Author     : Zahra
*/

@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 500 !important;
}

body,
body a,
body li,
body p,
.btn,
input {
    font-family: 'Lato', sans-serif;
}

body p {
    line-height: 1.5;
    font-size: 16px;
    color: #6b778d;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0rem;
    font-family: 'Lato', sans-serif;
    padding: 0;
}

.form-control:focus {
box-shadow: none !important;
}

body a:hover {
color: #ff7315;
transition: 0.3s ease;
}

body input {
border-radius: 6px;
}

body img {
border-radius: 6px;
}

.noscroll {
overflow: hidden;
}

h3.hny-title,
h3.hny-title.two {
font-size: 40px;
line-height: 50px;
color: #5f6b72;
margin-bottom: 24px;
text-transform: uppercase;
font-weight: 700;
}

h3.hny-title.two {
color: #fff;
}

h3.hny-title span,
h3.hny-title span {
color: #747c73;
}

a.read-more.btn {
    display: inline-block;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 12px 32px;
    font-size: 16px;
    background-color: #5f6b72;
    margin-top: 20px;
    color: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
}

a.read-more.btn:hover {
background-color: #747c73;
}

a.read-more-btn2.btn {
    display: inline-block;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 12px 32px;
    font-size: 16px;
    background-color: #fff;
    margin-top: 20px;
    color: #5f6b72;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
}

a.read-more-btn2.btn:hover {
    color: #fff;
    background-color: #ff7315;
}

@media (max-width: 1366px) {

h3.hny-title,
h3.hny-title.two {
    font-size: 36px;
    line-height: 46px;
}
}

@media (max-width: 1199px) {
body p {
    font-size: 15px;
}
}

@media (max-width: 667px) {
a.read-more-btn2.btn {
    padding: 10px 32px;
    font-size: 16px;
    margin-top: 14px;
}
}

@media (max-width: 667px) {

h3.hny-title,
h3.hny-title.two {
    font-size: 30px;
    line-height: 40px;
}

a.read-more-btn.btn {
    margin-top: 10px;
}
}

@media (max-width: 480px) {

h3.hny-title,
h3.hny-title.two {
    font-size: 28px;
    line-height: 38px;
}
}

@media (max-width: 440px) {

h3.hny-title,
    h3.hny-title.two {
        font-size: 26px;
        line-height: 36px;
    }
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
position: static;
width: auto;
height: auto;
margin: 0;
overflow: visible;
clip: auto;
}

.w3l-banner-slider-main .top-right-strip {
    padding: 3px 15px 0 15px;
    align-items: center;
    background-color: #5f6b72;
    opacity: 0.8;
}

.w3l-banner-slider-main .top-hny-left-content h6 {
font-size: 14px;
line-height: 26px;
color: #fff;
margin: 0;
text-transform: uppercase;
}

.w3l-banner-slider-main .top-hny-left-content a {
color: #fff;
margin-left: 6px;
font-weight: 600;
text-transform: capitalize;
font-size: 15px;
}

.w3l-banner-slider-main .hand-icon {
margin: 0 4px;
}

.w3l-banner-slider-main span.hignlaite {
color: #ff7315;
}

.w3l-banner-slider-main span.hignlaite:hover {
text-decoration: underline;
}

.w3l-banner-slider-main ul.top-hnt-right-content {
justify-content: flex-end;
display: flex;
align-items: center;
}

.w3l-banner-slider-main ul.top-hnt-right-content li {
margin-left: 16px;
list-style: none;
color: #fff;
}

.w3l-banner-slider-main ul.top-hnt-right-content li a {
color: #fff;
}

.w3l-banner-slider-main ul.top-hnt-right-content li.usernhy a {
color: #fff;
width: 36px;
height: 36px;
background: rgba(255, 255, 255, 0.141);
border-radius: 50%;
display: inline-block;
text-align: center;
}

.w3l-banner-slider-main ul.top-hnt-right-content li.usernhy a:hover {
background: #ff7315;
}

.w3l-banner-slider-main a.btn-open span.fa {
line-height: 34px;
font-size: 20px;
}

.w3l-banner-slider-main p.login-texthny {
color: #f4f4f4;
font-size: 16px;
font-weight: 600;
text-transform: capitalize;
}

.w3l-banner-slider-main .login label {
color: #fff;
}

.w3l-banner-slider-main .login a {
color: #b4b7bb;
}

.w3l-banner-slider-main .login-bghny .form-check label {
color: #fff;
font-size: 14px;
cursor: pointer;
}

.w3l-banner-slider-main .login-bghny .form-control {
border-radius: 4px;
outline: none;
border: none;
color: #6b778d;
font-size: 16px;
padding: 10px 10px;
background: #fff;
}

.w3l-banner-slider-main .login-bghny .form-control:focus {
background: #f4f4f4;
}

.w3l-banner-slider-main button.submit-login.btn {
box-shadow: none;
background: #ff7315;
padding: 12px 20px;
border-radius: 25px;
border: none;
color: #fff;
font-size: 16px;
display: block;
width: 100%;
font-weight: 600;
}

.w3l-banner-slider-main button.submit-login.btn:hover {
opacity: 0.9;
}

.w3l-banner-slider-main .form-check {
position: relative;
}

.w3l-banner-slider-main .userhny-check input.form-check {
display: none;
}

.w3l-banner-slider-main .userhny-check .checkmark {
position: absolute;
top: 3px;
left: 0;
height: 16px;
width: 16px;
background-color: #f8f9fa;
border: 1px solid #3a3535;
border-radius: 4px;
}

.w3l-banner-slider-main .userhny-check label.container:hover input~.checkmark {
background-color: #fff;
}

.w3l-banner-slider-main .userhny-check label.container input:checked~.checkmark {
background-color: #ff7315;
border: transparent;
}

.w3l-banner-slider-main .userhny-check .checkmark:after {
content: "";
position: absolute;
display: none;
}

.w3l-banner-slider-main .userhny-check label.container input:checked~.checkmark:after {
display: block;
}

.w3l-banner-slider-main .userhny-check label.container .checkmark:after {
left: 5px;
top: 2px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 2px 2px 0;
transform: rotate(45deg);
}

.w3l-banner-slider-main .userhny-check p.privacy-policy {
margin: 0;
font-size: 15px;
color: #c5b2b2;
font-weight: 600;
}

.w3l-banner-slider-main .modal-header .close {
float: right !important;
}

.w3l-banner-slider-main .form-control:focus {
border: 1px solid #ccc;
outline: 0;
box-shadow: none !important;
}

.w3l-banner-slider-main .button-log a {
color: #333;
font-size: 1em;
text-decoration: none;
}

.w3l-banner-slider-main .overlay-login button.overlay-close1 {
z-index: 9999;
color: #fff;
}

.w3l-banner-slider-main .btn-open:after {
color: #333;
transition-property: all .2s linear 0s;
transition: all .2s linear 0s;
}

.w3l-banner-slider-main .btn-open:hover:after {
color: #34B484;
}

.w3l-banner-slider-main .overlay-login.open .btn-close:after {
color: #fff;
font-family: "FontAwesome";
transition-property: all .2s linear 0s;
transition: all .2s linear 0s;
-moz-transition: all .2s linear 0s;
-webkit-transition: all .2s linear 0s;
-o-transition: all .2s linear 0s;
}

.w3l-banner-slider-main .btn-close:hover:after {
color: #34B484;
}

.w3l-banner-slider-main .overlay-login button.overlay-close1 {
z-index: 999;
color: #fff;
right: 0;
width: 40px;
height: 40px;
position: absolute;
left: 20px;
top: 20px;
overflow: hidden;
background: none;
color: #fff;
border: 2px solid #5f6b72;
cursor: pointer;
border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-moz-border-radius: 6px;
}

.w3l-banner-slider-main .overlay-login {
display: none;
position: fixed;
top: 0;
background: #3a3535;
overflow: auto;
z-index: 9999;
padding: 3em 3em;
right: 0;
height: 100%;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}

.w3l-banner-slider-main .login-bghny {
background: #5f6b72;
border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-moz-border-radius: 6px;
}

.w3l-banner-slider-main .wrap {
margin: 5em auto 0;
}

.w3l-banner-slider-main .wrap h5 {
font-size: 2em;
color: #fff;
}

.w3l-banner-slider-main .wrap ul.wrap-nav {
border-bottom: 1px solid #575757;
text-transform: capitalize;
padding: 150px 0px 100px;
}

.w3l-banner-slider-main .wrap ul.wrap-nav li {
font-size: 20px;
display: inline-block;
vertical-align: top;
width: 24%;
position: relative;
}

.w3l-banner-slider-main .wrap ul.wrap-nav li a {
color: #34B484;
display: block;
padding: 8px 0;
text-decoration: none;
transition: all .2s linear 0s;
transition-property: all .2s linear 0s;
-moz-transition: all .2s linear 0s;
-webkit-transition: all .2s linear 0s;
-o-transition: all .2s linear 0s;
}

.w3l-banner-slider-main .wrap ul.wrap-nav li a:hover {
color: #f0f0f0;
}

.w3l-banner-slider-main .wrap ul.wrap-nav ul {
padding: 20px 0;
}

.w3l-banner-slider-main .wrap ul.wrap-nav ul li {
display: block;
font-size: 13px;
width: 100%;
color: #e9e9e9;
}

.w3l-banner-slider-main .wrap ul.wrap-nav ul li a {
color: #f0f0f0;
}

.w3l-banner-slider-main .wrap ul.wrap-nav ul li a:hover {
color: #34B484;
}

@media screen and (max-width: 48em) {
.w3l-banner-slider-main .wrap ul.wrap-nav>li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #575757;
}

.w3l-banner-slider-main .wrap ul.wrap-nav {
    padding: 30px 0px 0px;
}

.w3l-banner-slider-main .social {
    color: #c1c1c1;
    font-size: 25px;
    padding: 15px 0;
}

.w3l-banner-slider-main .social-icon {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #333;
    display: block;
    margin: 5px 0;
}
}

.w3l-banner-slider-main .content {
width: 100%;
margin-top: 200px;
font-size: 20px;
color: #333;
text-align: center;
}

.w3l-banner-slider-main form.search-box {
display: flex;
}

.w3l-banner-slider-main .search-right {
margin-left: 60px;
}

.w3l-banner-slider-main .search-right a {
color: #fff;
font-size: 20px;
}

.w3l-banner-slider-main .search-right .popup form input[type="search"] {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #555;
border: none;
height: 50px;
border-radius: 25px;
background: #fff;
padding: 0 20px;
width: 70%;
border-radius: 0;
-webkit-border-top-left-radius: 25px;
-webkit-border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
-moz-border-radius-bottomleft: 25px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
}

.w3l-banner-slider-main .search-right .popup form button {
border: none;
cursor: pointer;
font-size: 16px;
text-align: center;
color: #fff;
width: 30%;
background: #ff7315;
line-height: 35px;
display: inline-block;
border-radius: 25px;
transition: 0.5s ease-out;
font-weight: 700;
display: block;
height: 50px;
margin: 0 auto;
border-radius: 0;
-webkit-border-top-right-radius: 25px;
-webkit-border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
-moz-border-radius-bottomright: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
}

.w3l-banner-slider-main .search-right .popup form button:hover {
background: #ff7315;
opacity: 0.8;
outline: none;
border: none;
}

.w3l-banner-slider-main .search-right .popup form input:focus {
outline: none;
border: none;
}

.w3l-banner-slider-main .search-right .pop-overlay {
position: fixed;
top: 0px;
left: 0;
right: 0;
transition: opacity 0ms;
visibility: hidden;
opacity: 0;
z-index: 99;
background: rgba(25, 23, 23, 0.81);
box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.85);
height: 100vh;
}

.w3l-banner-slider-main .search-right .pop-overlay:target {
visibility: visible;
opacity: 1;
}

.w3l-banner-slider-main .search-right .popup {
margin: 0rem auto;
padding: 40px 50px;
max-width: 700px;
border-radius: 3px;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.w3l-banner-slider-main .search-right .search-top {
display: grid;
grid-template-columns: auto 1fr 1fr;
grid-gap: 30px;
margin-top: 24px;
}

.w3l-banner-slider-main .search-right .search-top h4 {
font-size: 20px;
color: #fff;
margin-bottom: 16px;
}

.w3l-banner-slider-main .search-right .popup h3 {
font-size: 25px;
color: #fff;
margin-bottom: 16px;
}

.w3l-banner-slider-main .search-right .search-top span.fa {
padding-right: 10px;
}

.w3l-banner-slider-main .search-right .search-top li {
display: block;
}

.w3l-banner-slider-main .search-right .search-top li a {
font-size: 16px;
color: #fff;
line-height: 28px;
}

.w3l-banner-slider-main .search-right .search-top li a:hover {
color: #fff;
}

.w3l-banner-slider-main .search-right .close {
position: absolute;
top: 20px;
right: 40px;
transition: all 200ms;
font-size: 40px;
text-decoration: none;
color: #fff;
opacity: 1;
}

.w3l-banner-slider-main .search-right .close:hover {
opacity: 0.8;
}

.w3l-banner-slider-main .top-header-content {
position: relative;
}

.w3l-banner-slider-main header.tophny-header {
z-index: 9;
width: 100%;
margin: 0 auto;
left: 0;
right: 0;
}

.w3l-banner-slider-main .navbar-expand-lg .navbar-nav .dropdown-menu {
transform: translateX(-50px);
}

.w3l-banner-slider-main .navbar-expand-lg .navbar-nav .dropdown-menu:before {
content: '';
width: 10px;
height: 10px;
background: #fff;
border: 1px #d5d5d5ee solid;
display: block;
border-right: none;
border-bottom: none;
transform: translateX(-50%) rotateZ(45deg);
position: absolute;
top: -5px;
left: 49%;
z-index: 1001;
}

.w3l-banner-slider-main .dropdown-toggle::after {
margin-left: 0.1em;
border-top: 0.3em solid;
border-right: 0.2em solid transparent;
border-left: 0.2em solid transparent;
vertical-align: middle;
}

.w3l-banner-slider-main .dropdown-item:hover,
.w3l-banner-slider-main .dropdown-item:focus {
color: #ff7315;
text-decoration: none;
background-color: transparent;
}

.w3l-banner-slider-main nav.navbar {
background-color: transparent;
padding: 10px 0;
}

.w3l-banner-slider-main link.navbar-brand {
color: #fff;
font-size: 30px;
padding: 0;
font-weight: 900 !important;
text-transform: uppercase !important;
font-family: 'Oswald', sans-serif !important;
}

.w3l-banner-slider-main link.navbar-brand:hover {
color: #fff;
}

.w3l-banner-slider-main span.lohny {
margin-bottom: 0;
color: #b4bcb8;
}

.w3l-banner-slider-main .navbar-light .navbar-brand:hover,
.w3l-banner-slider-main .navbar-light .navbar-brand:focus {
opacity: 0.9;
}

.w3l-banner-slider-main .navbar-light .navbar-nav .show>.nav-link,
.w3l-banner-slider-main .navbar-light .navbar-nav .active>.nav-link,
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link.show,
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link.active {
color: #b4bcb8;
}

.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link:hover,
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link:focus {
color: #b4bcb8;
}

.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link {
color: #fff;
text-transform: uppercase;
font-weight: 600;
font-size: 14px;
}

.w3l-banner-slider-main li.nav-item {
/* margin: 0px 10px; */
margin: 0px 10px;
}

.w3l-banner-slider-main li.nav-item:nth-child(6) {
margin-right: 0px;
}

.w3l-banner-slider-main .navbar-toggler {
padding: 0.45rem 0.6rem;
font-size: 1rem;
background-color: #cfdce8;
border: none;
}

@media (max-width: 1280px) {
.w3l-banner-slider-main li.nav-item {
    margin: 0px 10px;
}
}

@media (max-width: 992px) {
.w3l-banner-slider-main .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
}

.w3l-banner-slider-main .navbar-expand-lg .navbar-nav .dropdown-menu:before {
    top: -5px;
    left: 4%;
}

.w3l-banner-slider-main div#navbarSupportedContent {
    background: #5f6b72f2;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    border: 1px #5f6b72 solid;
    max-height: calc(100vh - 120px);
    overflow: auto;
    margin-top: 6px;
}

.w3l-banner-slider-main div#navbarSupportedContent:before {
    content: '';
    width: 10px;
    height: 10px;
/*    background: var(--theme-color);*/
    border-left: 1px rgba(0, 0, 0, 0.09) solid;
    border-top: 1px rgba(0, 0, 0, 0.09) solid;
    display: block;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -5px;
    right: 12px;
    opacity: 0;
}

.w3l-banner-slider-main div#navbarSupportedContent {
    overflow: inherit;
}

.w3l-banner-slider-main .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
}

.w3l-banner-slider-main .search-right .close {
    right: 20px;
}
}

@media (max-width: 991px) {
.w3l-banner-slider-main nav.navbar.navbar-expand-lg.navbar-light {
    padding: 10px 15px;
}

.w3l-banner-slider-main a.navbar-brand {
    font-size: 28px;
}

.w3l-banner-slider-main .navbar-light .navbar-toggler-icon {
    background-image: none;
}

.w3l-banner-slider-main .navbar-toggler {
    padding: 0.4rem 0.5rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

.w3l-banner-slider-main .navbar-light .navbar-toggler {
    color: #ff7315;
    border-color: #fff;
    background: #fff;
    cursor: pointer;
}

.w3l-banner-slider-main .navbar-toggler-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
}

.w3l-banner-slider-main span.navbar-toggler-icon.fa.fa-bars {
    font-size: 20px;
    line-height: 1.2em;
}

.w3l-banner-slider-main button.navbar-toggler {
    outline: none;
}
}

@media (max-width: 769px) {
.w3l-banner-slider-main .top-hny-left-content {
    display: none;
}

.w3l-banner-slider-main a.navbar-brand {
    font-size: 24px;
}

.w3l-banner-slider-main .top-hnt-right-content {
    display: flex;
    align-items: center;
    padding: 0;
}

.w3l-banner-slider-main .search-right a {
    font-size: 16px;
}

.w3l-banner-slider-main .search-right {
    margin-right: 16px;
    margin-left: auto;
}

.w3l-banner-slider-main ul.top-hnt-right-content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.w3l-banner-slider-main ul.top-hnt-right-content li {
    margin-left: 0;
}

.w3l-banner-slider-main li.transmitvcart.galssescart2.cart.cart.box_1 {
    text-align: end;
}

.w3l-banner-slider-main span.search-text {
    display: none;
}

.w3l-banner-slider-main .container-fluid.serarc-fluid,
.w3l-banner-slider-main .serarc-fluid.container-sm,
.w3l-banner-slider-main .serarc-fluid.container-md,
.w3l-banner-slider-main .serarc-fluid.container-lg,
.w3l-banner-slider-main .serarc-fluid.container-xl {
    justify-content: inherit;
}
}

.w3l-banner-slider-main .bannerhny-content {
display: grid;
grid-template-columns: 2fr 0fr;
align-items: center;
}

.w3l-banner-slider-main ol.carousel-indicators {
margin: 0;
}

.w3l-banner-slider-main .carousel-item {
min-height: 46em;
position: relative;
z-index: 1;
}

.w3l-banner-slider-main .carousel-item {
background: url('../img/adobe3.jpg') no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item2 {
background: url('../img/365.jpg') no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item3 {
background: url('../img/music.png') no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item4 {
background: url('../img/flowers.jpg') no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item:before {
content: "";
background: rgba(16, 16, 16, 0.470588);
position: absolute;
top: 0;
min-height: 100%;
left: 0;
right: 0;
z-index: -1;
}

.w3l-banner-slider-main .carousel-caption h3 {
font-size: 62px;
text-transform: uppercase;
line-height: 72px;
}

.w3l-banner-slider-main .carousel-caption p {
color: #fff;
text-transform: capitalize;
font-size: 16px;
opacity: 0.8;
}

.w3l-banner-slider-main a.shop-button.btn {
display: inline-block;
outline: none;
border: none;
font-weight: 600;
padding: 10px 26px;
font-size: 16px;
background-color: #fff;
margin-top: 30px;
color: #5f6b72;
border-radius: 25px;
}

.w3l-banner-slider-main a.shop-button.btn:hover {
background: #ff7315;
color: #fff;
}

.w3l-banner-slider-main .b-ck {
display: block;
}

.w3l-banner-slider-main .right-banner {
/* background: url(../images/left3.jpg) no-repeat center; */
background-size: cover;
display: grid;
align-items: center;
/* min-height: 100%; */
min-height: 46em;
}

.w3l-banner-slider-main .right-1 {
padding: 4em;
}

.w3l-banner-slider-main .right-1 h4 {
font-size: 56px;
text-transform: uppercase;
line-height: 66px;
color: #fff;
}

.w3l-banner-slider-main .carousel-indicators {
bottom: 7%;
left: 0%;
cursor: pointer;
display: none;
}

.w3l-banner-slider-main .carousel-caption {
text-align: left;
margin: 0 auto;
position: absolute;
right: 15%;
bottom: 40%;
left: 15%;
z-index: 10;
padding: 0;
}

.w3l-banner-slider-main .carousel-item>img {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
min-height: 46em;
}

.w3l-banner-slider-main .carousel-control {
min-height: 46em;
}

.w3l-banner-slider-main .carousel-indicators li {
box-sizing: content-box;
flex: 0 1 auto;
width: 30px;
height: 3px;
margin-right: 3px;
margin-left: 3px;
text-indent: -999px;
cursor: pointer;
background-color: #fff;
background-clip: padding-box;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
opacity: 0.5;
transition: opacity 0.6s ease;
}

.w3l-banner-slider-main .carousel-indicators .active {
background: #03cce6;
width: 30px;
height: 3px;
}

.w3l-banner-slider-main .carousel-control-prev,
.w3l-banner-slider-main .carousel-control-next {
background: none;
position: absolute;
top: 42%;
bottom: 0;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
text-align: center;
opacity: 0.5;
transition: opacity 0.15s ease;
height: 50px;
width: 60px;
padding: -10px;
opacity: 0.9;
}

.w3l-banner-slider-main .bannerhny-content-1 {
list-style: none;
display: grid;
grid-template-columns: 2fr 1fr;
margin: 0;
padding: 0;
}

.w3l-banner-slider-main .right-2 {
background: url(../images/1.jpg) no-repeat center;
background-size: cover;
display: grid;
align-items: center;
min-height: 50%;
padding: 4em;
position: relative;
z-index: 1;
}

.w3l-banner-slider-main .left-2 {
background: url(../images/2.jpg) no-repeat center;
background-size: cover;
display: grid;
align-items: center;
min-height: 50%;
padding: 4em;
position: relative;
z-index: 1;
}

.w3l-banner-slider-main .right-2:before,
.w3l-banner-slider-main .left-2:before {
content: "";
background: rgba(16, 16, 16, 0.47);
position: absolute;
top: 0;
min-height: 100%;
left: 0;
right: 0;
z-index: -1;
}

.w3l-banner-slider-main .right-banner2 h4 {
font-size: 46px;
text-transform: uppercase;
line-height: 56px;
color: #fff;
}

@media (max-width: 1440px) {
.w3l-banner-slider-main .carousel-caption h3 {
    font-size: 58px;
    line-height: 68px;
}

.w3l-banner-slider-main .right-1 {
    padding: 3em;
}
}

@media (max-width: 1280px) {
.w3l-banner-slider-main .right-1 h4 {
    font-size: 52px;
    line-height: 62px;
}
}

@media (max-width: 1080px) {
.w3l-banner-slider-main .right-1 h4 {
    font-size: 42px;
    line-height: 52px;
}

.w3l-banner-slider-main .right-1 {
    padding: 3em 2em;
}

.w3l-banner-slider-main .carousel-item,
.w3l-banner-slider-main .carousel-item>img,
.w3l-banner-slider-main .carousel-control,
.w3l-banner-slider-main .right-banner {
    min-height: 38em;
}

.w3l-banner-slider-main .carousel-caption h3 {
    font-size: 52px;
    line-height: 62px;
}
}

@media (max-width: 992px) {
.w3l-banner-slider-main .right-1 {
    padding: 2em 2em;
}

.w3l-banner-slider-main .carousel-item,
.w3l-banner-slider-main .carousel-item>img,
.w3l-banner-slider-main .carousel-control {
    min-height: 36em;
}

.w3l-banner-slider-main .right-banner {
    min-height: 36em;
}

.w3l-banner-slider-main .carousel-caption h3 {
    font-size: 46px;
    line-height: 56px;
}

.w3l-banner-slider-main .right-1 h4 {
    font-size: 38px;
    line-height: 46px;
}
}

@media (max-width: 767px) {

.w3l-banner-slider-main .carousel-item,
.w3l-banner-slider-main .carousel-item>img,
.w3l-banner-slider-main .carousel-control {
    min-height: 34em;
}

.w3l-banner-slider-main .bannerhny-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.w3l-banner-slider-main .right-1 {
    padding: 2em 2em;
}

.w3l-banner-slider-main .right-banner {
    min-height: 16em;
}

.w3l-banner-slider-main .right-1 h4 {
    font-size: 32px;
    line-height: 42px;
}
}

@media (max-width: 667px) {
.w3l-banner-slider-main .carousel-caption h3 {
    font-size: 52px;
    line-height: 62px;
}

.w3l-banner-slider-main .search-right .popup {
    margin: 0rem auto;
    padding: 30px 30px;
}
}

@media (max-width: 600px) {

.w3l-banner-slider-main .carousel-item,
.w3l-banner-slider-main .carousel-item>img,
.w3l-banner-slider-main .carousel-control {
    min-height: 32em;
}

.w3l-banner-slider-main .right-banner {
    min-height: 14em;
}

.w3l-banner-slider-main .carousel-caption h3 {
    font-size: 38px;
    line-height: 48px;
}

.w3l-banner-slider-main a.shop-button.btn {
    padding: 8px 26px;
    font-size: 16px;
    margin-top: 16px;
}

.w3l-banner-slider-main .carousel-caption {
    right: 15%;
    bottom: 22%;
    left: 15%;
    z-index: 10;
    padding: 0;
}

.w3l-banner-slider-main .overlay-login {
    padding: 2em 2em;
}
}

@media (max-width: 569px) {
.w3l-banner-slider-main .carousel-caption h3 {
    font-size: 36px;
    line-height: 46px;
}
}

@media (max-width: 490px) {

.w3l-banner-slider-main .carousel-item,
.w3l-banner-slider-main .carousel-item>img,
.w3l-banner-slider-main .carousel-control {
    min-height: 28em;
}
}

@media (max-width: 440px) {
.w3l-banner-slider-main .carousel-caption h3 {
    font-size: 32px;
    line-height: 42px;
}

.w3l-banner-slider-main .carousel-item,
.w3l-banner-slider-main .carousel-item>img,
.w3l-banner-slider-main .carousel-control {
    min-height: 26em;
}
}

@media (max-width: 384px) {

.w3l-banner-slider-main .carousel-item,
.w3l-banner-slider-main .carousel-item>img,
.w3l-banner-slider-main .carousel-control {
    min-height: 24em;
}

.w3l-banner-slider-main .carousel-caption {
    right: 15%;
    bottom: 18%;
    left: 15%;
    z-index: 10;
    padding: 0;
}
}

/*-- Shopping-Cart-PopUp --*/
div#my-cart-modal {
background-color: rgba(0, 0, 0, 0.5);
}

div#my-cart-modal .modal-dialog {
width: 50%;
margin: 100px auto 0;
}

div#my-cart-modal .modal-content {
background-color: #F5F5F5;
box-shadow: none !important;
border: none !important;
border-radius: 0;
padding: 30px;
}

div#my-cart-modal .modal-header {
padding: 0 15px 15px;
border-bottom: 3px solid #333;
}

div#my-cart-modal h4#myModalLabel {
font-size: 20px;
color: #F60B0E;
}

div#my-cart-modal .modal-body {
padding: 0;
}

div#my-cart-modal .table {
margin: 0;
}

div#my-cart-modal .table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
padding: 10px;
vertical-align: middle;
border: none;
}

div#my-cart-modal .table>tbody>tr {
border-top: 1px solid #CCC;
}

div#my-cart-modal .table>tbody>tr:nth-child(1) {
border: none;
}

div#my-cart-modal .btn-danger {
color: #5f6b72;
background-color: #FFF;
border-color: #5f6b72;
}

div#my-cart-modal .btn-danger:hover {
color: #fff;
background-color: #c9302c;
border-color: #c9302c;
}

div#my-cart-modal strong {
color: #5f6b72;
font-size: 15px;
}

div#my-cart-modal .modal-footer {
border-top: 3px solid #5f6b72;
}

div#my-cart-modal button.btn.btn-default,
div#my-cart-modal button.btn.btn-primary {
padding: 8px 0;
width: 15%;
font-size: 14px;
border: none;
border-radius: 0;
outline: none;
background-color: #333;
color: #FFF;
}

div#my-cart-modal button.btn.btn-default:hover {
background-color: #F60B0E;
}

div#my-cart-modal button.btn.btn-primary a {
color: #FFF;
}

div#my-cart-modal button.btn.btn-primary:hover {
background-color: #F60B0E;
}

div#my-cart-modal .alert-danger {
color: #FFF;
text-align: center;
background-color: #F60B0E;
font-size: 15px;
margin: 20px;
border: none;
border-radius: 0;
}

div#my-cart-modal .close {
font-size: 25px;
opacity: 1;
}

div#my-cart-modal .close:hover,
.close:focus {
opacity: 1;
color: #F60B0E;
}

/*-- //Shopping-Cart-PopUp --*/
/*-- cart-button --*/
li.transmitvcart {
margin-top: -2px;
}

button.top_transmitv_cart {
border: none;
text-align: center;
background: none;
cursor: pointer;
/* border-radius: 0; */
padding: 0;
outline: none;
color: #fff;
font-weight: 600;
font-family: 'Lato', sans-serif;
font-size: 16px;
text-transform: capitalize;
background: rgba(255, 255, 255, 0.141);
padding: 6px 20px;
border-radius: 25px;
}

button.top_transmitv_cart:hover {
background: #ff7315;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}

button.top_transmitv_cart span {
font-size: 1.1em;
}

span.line {
text-decoration: line-through;
color: #999;
font-weight: 300;
}

/*-- cart-css --*/
#staplesbmincart form {
position: relative;
padding: 1em;
background: #fbfbfb;
border-radius: 0;
color: #5f6b72;
box-shadow: none;
border: 1px solid #ddd;
border-radius: 6px;
}

.sbmincart-suc-cart-text {
float: left;
color: #5f6b72;
font-size: 16px;
font-weight: 600;
text-transform: uppercase;
font-family: 'Lato', sans-serif;
}

#staplesbmincart form ul {
overflow-y: scroll;
max-height: 300px;
border-radius: 6px;
}

#staplesbmincart {
display: none;
position: fixed;
right: 2%;
top: 16%;
width: 420px;
}

.sbmincart-showing #staplesbmincart {
display: block;
z-index: 9999;
-webkit-animation: zoomIn .3s ease;
animation: zoomIn .3s ease;
}

#staplesbmincart form.sbmincart-empty {
font-size: 16px;
font-weight: bold;
}

#staplesbmincart ul {
clear: both;
float: left;
width: 100%;
margin: 5px 0 20px;
padding: 1em;
list-style-type: none;
background: #f5f0f0;
border: none;
border-radius: 0px;
box-shadow: none;
}

#staplesbmincart .sbmincart-empty ul {
display: none;
}

#staplesbmincart .sbmincart-closer {
float: right;
margin: -8px -10px 0;
padding: 0 10px;
background: 0;
border: 0;
font-size: 22px;
cursor: pointer;
font-weight: bold;
outline: none;
}

#staplesbmincart .sbmincart-closer:hover {
opacity: 0.8;
}

#staplesbmincart .sbmincart-item {
clear: left;
display: grid;
align-items: center;
grid-template-columns: 8fr 1fr 1fr 3fr;
grid-gap: 10px;
margin-bottom: 10px;
margin-bottom: 10px;
}

#staplesbmincart .sbmincart-item+.sbmincart-item {
border-top: 1px solid #f2f2f2;
}

#staplesbmincart .sbmincart-item a {
color: #212529;
text-decoration: none;
font-weight: 600;
font-size: 15px;
}

.sbmincart-details-quantity {
display: grid;
align-items: center;
}

#staplesbmincart .sbmincart-details-remove {
text-align: center;
}

#staplesbmincart .sbmincart-details-price {
text-align: center;
font-size: 15px;
color: #5f6b72;
font-weight: 600;
}

#staplesbmincart .sbmincart-attributes {
margin: 0;
padding: 0;
background: transparent;
border: 0;
border-radius: 0;
box-shadow: none;
color: #999;
font-size: 12px;
line-height: 22px;
overflow: inherit;
height: inherit;
}

#staplesbmincart .sbmincart-attributes li {
display: inline;
}

#staplesbmincart .sbmincart-attributes li:after {
content: ",";
}

#staplesbmincart .sbmincart-attributes li:last-child:after {
content: "";
}

#staplesbmincart .sbmincart-quantity {
width: 30px;
height: 20px;
padding: 2px 4px;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
font-size: 12px;
text-align: right;
transition: border linear 0.2s, box-shadow linear 0.2s;
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
}

#staplesbmincart .sbmincart-quantity:hover {
border-color: #ff7315;
}

#staplesbmincart .sbmincart-quantity:focus {
border-color: #ff7315;
outline: 0;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(0, 120, 193, 0.4);
}

#staplesbmincart .sbmincart-remove {
width: 20px;
height: 20px;
margin: 0;
padding: 0;
background: #ff7315;
border: 1px solid #ff7315;
border-radius: 3px;
color: #fff;
font-size: 13px;
opacity: 0.70;
cursor: pointer;
line-height: 14px;
display: inline-block;
}

#staplesbmincart .sbmincart-remove:hover {
opacity: 1;
}

#staplesbmincart .sbmincart-footer {
clear: left;
text-align: center;
margin-right: 0;
position: relative;
}

p.sbmincart-empty-text {
color: #f44336;
font-weight: 500;
}

#staplesbmincart .sbmincart-subtotal {
bottom: 3px;
padding-left: 0;
font-size: 15px;
font-weight: bold;
display: block;
text-align: left;
}

#staplesbmincart .sbmincart-submit {
margin-right: 0px;
padding: 0;
border: none;
color: #ff7315;
background: none;
outline: none;
font-size: 12px;
font-weight: 600;
position: absolute;
text-transform: uppercase;
right: 0;
top: 0;
cursor: pointer;
}

#staplesbmincart .sbmincart-submit:hover {
opacity: 0.8;
}

/* Let's get this party started */
#staplesbmincart form ul::-webkit-scrollbar {
width: 5px;
}

/* Track */
#staplesbmincart form ul::-webkit-scrollbar-track {
-o-box-shadow: inset 0 0 6px #999;
-ms-box-shadow: inset 0 0 6px #999;
box-shadow: inset 0 0 6px #999;
border-radius: 10px;
}

/* Handle */
#staplesbmincart form ul::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #3c43a4;
-o-box-shadow: inset 0 0 6px #3c43a4;
-ms-box-shadow: inset 0 0 6px #3c43a4;
box-shadow: inset 0 0 6px #3c43a4;
}

/*-- //cart-css --*/
/*-- cart-button --*/
.back form {
margin-top: 0.5em;
}

.transmitv-cart {
font-size: 1em;
color: #fff;
margin: 0;
text-decoration: none;
border: none;
background: none;
outline: none;
}

.transmitv-cart:hover,
.back a:hover {
box-shadow: none;
}

.back a {
font-size: 1em;
color: #fff;
padding: 4px 7px;
display: inline-block;
}

.vjm-transit-pro-item {
position: relative;
}

/*-- Model-Slider --*/
/*-- product left --*/
.ads-list {
width: 33.333%;
float: left;
}

.select-box {
background: rgba(255, 76, 76, 0.66);
padding: 30px 30px;
margin: 40px 0;
border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
}

.ads-list label {
display: block;
font-size: 14px;
font-weight: 400;
color: #5f6b72;
margin-bottom: 6px;
}

.ads-list select {
width: 70%;
outline: none;
color: #5f6b72;
font-size: 15px;
border: 1px solid #eee;
padding: 7px 8px;
}

.btn-group.bootstrap-select.show-tick button {
padding: 8px 10px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
width: 260px;
}

#custom-search-input {
padding: 3px;
border: solid 1px #D1E0EE;
border-radius: 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-ms-border-radius: 0px;
-o-border-radius: 0px;
background-color: #fff;
width: 80%;
color: #5f6b72;
}

#custom-search-input input {
border: 0;
box-shadow: none;
}

#custom-search-input button {
margin: 2px 0 0 0;
background: none;
box-shadow: none;
border: 0;
color: #666666;
padding: 0 8px 0 10px;
border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
border: 0;
box-shadow: none;
border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
font-size: 23px;
}

.input-lg {
height: 29px;
padding: 0px 10px;
font-size: 15px;
line-height: 1.3333333;
border-radius: 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-ms-border-radius: 0px;
-o-border-radius: 0px;
}

#custom-search-input .glyphicon-search {
font-size: 16px;
}

.btn-default {
border-color: #D1E0EE;
}

.btn {
display: inline-block;
}

.search-trans-form {
display: flex;
}

.search-trans-form input[type="search"] {
width: 100%;
padding: 12px 12px;
font-size: 16px;
font-size: 16px;
/* line-height: 1.5; */
color: #495057;
background-color: #fff;
border: none;
border-radius: 0.25rem;
border-radius: 4px 0 0px 4px;
-webkit-border-radius: 4px 0 0px 4px;
-o-border-radius: 4px 0 0px 4px;
-moz-border-radius: 4px 0 0px 4px;
display: inline-block;
height: 50px;
}

.search-trans-form button.btn.read-2 {
background-color: #5f6b72;
border-radius: 0px 4px 4px 0px;
-webkit-border-radius: 0px 4px 4px 0px;
-moz-border-radius: 0px 4px 4px 0px;
-o-border-radius: 0px 4px 4px 0px;
-ms-border-radius: 0px 4px 4px 0px;
color: #fff;
width: 30%;
}

.search-trans-form button.btn.read-2:hover {
background-color: #ff7315;
}

.search-trans-form input[type="search"]:focus {
border: 2px solid #ff7315;
background: none;
outline: none;
}

.search-grid-left {
padding: 15px;
background: #f5f4f0;
}

h3.agileits-sear-head {
color: #181c27;
margin-bottom: 20px;
font-size: 1.1em;
font-weight: 600;
}

.bootstrap-tab-text-grid-right span.fa {
vertical-align: middle;
margin-right: 0.3em;
}

/*-- Slider range --*/
/* right-aligned */
.ui-menu .ui-menu-icon {
position: static;
float: right;
}

.ui-progressbar {
height: 2em;
text-align: left;
overflow: hidden;
}

.ui-progressbar .ui-progressbar-value {
margin: -1px;
height: 100%;
}

.ui-resizable {
position: relative;
}

.ui-resizable-handle {
position: absolute;
font-size: 0.1px;
display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
display: none;
}

.ui-resizable-n {
cursor: n-resize;
height: 7px;
width: 100%;
top: -5px;
left: 0;
}

.ui-resizable-s {
cursor: s-resize;
height: 7px;
width: 100%;
bottom: -5px;
left: 0;
}

.ui-resizable-e {
cursor: e-resize;
width: 7px;
right: -5px;
top: 0;
height: 100%;
}

.ui-resizable-w {
cursor: w-resize;
width: 7px;
left: -5px;
top: 0;
height: 100%;
}

.ui-resizable-se {
cursor: se-resize;
width: 12px;
height: 12px;
right: 1px;
bottom: 1px;
}

.ui-resizable-sw {
cursor: sw-resize;
width: 9px;
height: 9px;
left: -5px;
bottom: -5px;
}

.ui-resizable-nw {
cursor: nw-resize;
width: 9px;
height: 9px;
left: -5px;
top: -5px;
}

.ui-resizable-ne {
cursor: ne-resize;
width: 9px;
height: 9px;
right: -5px;
top: -5px;
}

.ui-selectable-helper {
position: absolute;
z-index: 100;
border: 1px dotted black;
}

.ui-slider {
position: relative;
text-align: left;
}

.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 1.2em;
height: 1.2em;
cursor: default;
}

.ui-slider .ui-slider-range {
position: absolute;
z-index: 1;
font-size: .7em;
display: block;
border: 0;
background-position: 0 0;
}

.ui-slider-horizontal {
height: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
top: -5px;
margin-left: 0;
}

.ui-slider-horizontal .ui-slider-range {
top: 0;
height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
right: 0;
}

.ui-slider-vertical {
width: .3em;
height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
left: -.3em;
margin-left: 0;
margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
left: 0;
width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
top: 0;
}

.ui-spinner {
position: relative;
display: inline-block;
overflow: hidden;
padding: 0;
vertical-align: middle;
}

.ui-spinner-input {
border: none;
background: none;
padding: 0;
margin: .2em 0;
vertical-align: middle;
margin-left: .4em;
margin-right: 22px;
}

.ui-spinner-button {
width: 16px;
height: 50%;
font-size: .5em;
padding: 0;
margin: 0;
text-align: center;
position: absolute;
cursor: default;
display: block;
overflow: hidden;
right: 0;
}

.ui-spinner a.ui-spinner-button {
border-top: none;
border-bottom: none;
border-right: none;
}

/* more specificity required here to overide default borders */
.ui-spinner .ui-icon {
position: absolute;
margin-top: -8px;
top: 50%;
left: 0;
}

/* vertical centre icon */
.ui-spinner-up {
top: 0;
}

.ui-spinner-down {
bottom: 0;
}

/* Fades and background-images don't work well together in IE6, drop the image */
/* Component containers
----------------------------------*/
.ui-widget {
font-family: Verdana, Arial, sans-serif;
font-size: 1.1em;
}

.ui-widget .ui-widget {
font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
font-family: Verdana, Arial, sans-serif;
font-size: 1em;
}

.ui-widget-content {
background: #e0ddda;
color: #222222;
margin-top: 3em;
}

.ui-widget-content a {
color: #222222;
}

.ui-widget-header {
background: #2b2d2d;
color: #222222;
font-weight: bold;
}

.ui-widget-header a {
color: #222222;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
border: 0px solid #ff7315;
/*{borderColorDefault}*/
background: #ff7315;
font-weight: normal;
color: #444;
outline: none;
width: 15px;
height: 15px;
cursor: pointer;
border-radius: 100%;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
color: #555555;
text-decoration: none;
}

ul.dropdown-vjm-transitu6,
ul.dropdown-vjm-transitu5 {
margin: 0;
position: relative;
}

ul.dropdown-vjm-transitu6 li {
list-style: none;
}

ul.dropdown-vjm-transitu6 li p {
width: 100%;
}

span.amount {
color: #ffffff;
font-size: 16px;
}

input#amount,
input#amount1 {
font-size: 15px;
outline: none;
background: none;
word-spacing: 1em;
color: #5a5a5a !important;
position: absolute;
left: 0%;
top: -27px;
margin-top: -10px;
}

.range,
.w3-brand-select,
.w3ls-featured-ads {
padding: 20px 20px;
border: 1px solid #e4e4e4;
}

.side-bar {
padding: 30px 30px;
background: #f4f4f4;
}

.shop_left img,
.shop_right img {
width: 100%;
}

.shop_left,
.shop_right {
padding: 0;
margin-bottom: 1.3em;
position: relative;
}

.shop_left.shp,
.shop_right.shp {
margin-bottom: 0;
margin-top: 1.2em;
}

.shop_left h6,
.shop_right h6 {
font-size: 20px;
margin-top: 15px;
color: #fff;
font-weight: 700;
position: absolute;
top: 38%;
left: 12%;
}

/*-- //Slider range --*/
/*-- /Responsive --*/
@media (max-width: 1280px) {
.inner-vjm-transit-cart-pro .link-product-add-cart {
    width: 70%;
    top: 0px;
    left: 16%;
    margin: 0 auto;
    font-size: 0.9em;
    height: 37px;
}

.img-deals {
    padding-left: 0;
}

#staplesbmincart {
    width: 420px;
}

button.transmitv-cart {
    font-size: 1em;
}

.item-info-product {
    padding: 7px;
}

.product-vjm-transit img {
    padding: 1em;
}
}

@media (max-width: 1080px) {
.search-hotel input[type="search"] {
    width: 75%;
}

.product-vjm-transit.wovjm-transit_two.shop-gd {
    float: left;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 1em;
}

#staplesbmincart {
    width: 420px;
}

button.transmitv-cart.ptransmitv-cart.shop-single-last {
    width: auto;
    height: auto;
    padding: 10px 18px;
}
}

@media (max-width: 992px) {
.side-bar {
    width: 100%;
    margin-top: 2em;
}

.left-ads-display {
    padding: 0;
}

.product-vjm-transit.wovjm-transit_two.shop-gd,
.product-vjm-transit.wovjm-transit_two {
    float: left;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 1em;
}

.product-vjm-transit.wovjm-transit_two.bot-gd {
    float: left;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;
}

.left-ads-display {
    padding: 0;
    margin-top: 2em;
}

.product-vjm-transit.wovjm-transit_two {
    padding: 0 15px;
}

.product-vjm-transit.wovjm-transit_two.bot-gd {
    padding: 0 6px;
}

#staplesbmincart {
    width: 420px;
}

.product-new-top {
    font-size: 12px;
    line-height: 3.5;
    left: 1px;
}

form.cc-form {
    margin-top: 1em;
}

.item-info-product {
    padding: 15px;
}

.shoping-sider-bar {
    order: 2;
    margin-top: 2em;
}
}

@media (max-width: 800px) {
.single_page h6 {
    font-size: 1.2em;
    margin: 1em 0;
}

.bootstrap-tab-text-grid-right p {
    margin: 1em 0 0;
}

#staplesbmincart {
    width: 343px;
}

.value-minus,
.value-plus {
    display: block;
}

.timetable_sub th,
.timetable_sub td {
    padding: 15px 4px;
    font-size: 12px;
}
}

@media (max-width: 767px) {
#staplesbmincart {
    width: 289px;
}

.product-vjm-transit.wovjm-transit_two {
    padding: 0 10px;
}

.address_form {
    padding: 0;
}

.single-right-left h3 {
    font-size: 1.2em;
}
}

@media (max-width: 667px) {
.grid_meta {
    float: center;
    width: 100%;
    text-align: center;
}

.transmitv.single-item.singlepage {
    text-align: left;
}

.single-right-left h3 {
    font-size: 1.2em;
}
}

@media (max-width: 640px) {
#staplesbmincart .sbmincart-subtotal {
    bottom: 3px;
    font-size: 13px;
}

#staplesbmincart {
    width: 260px;
}

#staplesbmincart form {
    position: relative;
    padding: 1em 0.5em;
}

#staplesbmincart .sbmincart-item {
    clear: left;
    display: grid;
    align-items: center;
    grid-template-columns: 8fr 1fr 1fr;
    grid-gap: 10px;
}

#staplesbmincart .sbmincart-details-price {
    text-align: left;
}
}

@media (max-width: 600px) {
.colr {
    width: 47.333%;
    float: left;
}

.new_arrivals h3 {
    font-size: 1.2em;
}

.single-right-left {
    width: 100%;
}

.product-vjm-transit.wovjm-transit_two {
    padding: 0 5px;
}

.testimonials_grid {
    margin: 0 auto;
    width: 81%;
}

#staplesbmincart {
    width: 260px;
}

.imagezoom-cursor,
.imagezoom-view {
    display: none !important;
}

.info-product-price {
    padding: 0.5em 0;
}
}

@media (max-width: 480px) {
#staplesbmincart {
    width: 294px;
}

.single-right-left h3 {
    font-size: 18px;
}

.colr {
    width: 80%;
    float: left;
}

.product-vjm-transit.grid-cart-vv {
    padding: 0 10px;
}
}

@media (max-width: 414px) {
span.money {
    font-size: 0.9em;
    font-weight: 700;
}

.inner-vjm-transit-cart-pro .link-product-add-cart {
    width: 80%;
    top: 0px;
    left: 10%;
    margin: 0 auto;
    font-size: 0.8em;
    height: 37px;
}

.inner-vjm-transit-cart-pro {
    height: 87%;
}

.product-vjm-transit.wovjm-transit_two.shop-gd,
.product-vjm-transit.wovjm-transit_two {
    float: left;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;
}

.inner-vjm-transit-cart-pro {
    height: 98%;
}

.item-info-product h4 a {
    font-size: 18px;
}

.colr {
    width: 100%;
    float: left;
}

#staplesbmincart {
    width: 260px;
}
}

@media (max-width: 384px) {
.inner-vjm-transit-cart-pro .link-product-add-cart {
    width: 70%;
    top: 0px;
    left: 15%;
    margin: 0 auto;
    font-size: 0.8em;
    height: 37px;
}

#staplesbmincart {
    width: 266px;
}
}

@media (max-width: 375px) {
#staplesbmincart {
    width: 266px;
}
}

@media (max-width: 320px) {
.item-info-product h4 a {
    font-size: 16px;
}

.single-right-left h3 {
    font-size: 16px;
}

button.transmitv-cart {
    font-size: 0.8em;
}
}

/*-- //Responsive --*/

.w3l-grids-hny-2 .welcome-image {
text-align: center;
box-sizing: border-box !important;
}

.w3l-grids-hny-2 .welcome-image h4 {
margin-top: 20px;
}

.w3l-grids-hny-2 .welcome-image h4 a {
font-size: 18px;
line-height: 30px;
color: #5f6b72;
display: block;
font-weight: 600;
text-transform: capitalize;
}

.w3l-grids-hny-2 .welcome-image h4 a:hover {
color: #ff7315;
}

.w3l-grids-hny-2 h6 {
text-align: center;
font-weight: 300;
text-transform: uppercase;
color: #ff6768;
}

/* .w3l-grids-hny-2 .boxhny13 {
position: relative;
transition: all .2s ease-out 0s;
}

.w3l-grids-hny-2 .boxhny13 .boxhny-content,
.w3l-grids-hny-2 .boxhny13:after {
position: absolute;
left: 20px;
right: 20px;
}

.w3l-grids-hny-2 .boxhny13:after {
content: "";
display: block;
background: rgba(31, 28, 28, 0.74902);
top: 20px;
bottom: 20px;
opacity: 0;
transform: rotate3d(-1, 1, 0, 100deg);
transition: all .4s ease-in-out 0s;
border-radius: 50%;
-webkit-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
-moz-border-radius: 50%;
}

.w3l-grids-hny-2 .boxhny13:hover:after {
opacity: .9;
transform: rotate3d(0, 0, 0, 0deg);
}

.w3l-grids-hny-2 .boxhny13 img {
width: 100%;
height: auto;
border-radius: 50%;
-webkit-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
-moz-border-radius: 50%;
}

.w3l-grids-hny-2 .boxhny13 .boxhny-content {
top: 45%;
opacity: 0;
z-index: 1;
transform: translate(10%, -30%);
transition: all .2s ease-out 0s;
text-align: center;
}

.w3l-grids-hny-2 .boxhny13:hover .boxhny-content {
opacity: 1;
transform: translate(0, -50%);
transition-delay: .2s;
}

.w3l-grids-hny-2 .boxhny13 .title {
display: block;
font-size: 20px;
font-weight: 600;
color: #fff;
margin: 0;
padding-top: 14px;
}

.w3l-grids-hny-2 .boxhny13 .title:hover {
    color: #747c73;
} */

@media (max-width: 768px) {
.w3l-grids-hny-2 .welcome-image {
    margin-bottom: 1em;
}
}

@media (max-width: 736px) {
.w3l-grids-hny-2 .welcome-image {
    margin-bottom: 1em;
}
}

.w3l-content-6 .content-6-mian {
background: #fff;
}

.w3l-content-6 .content-6-mian h4 {
font-size: 35px;
line-height: 45px;
color: #3a3535;
}

.w3l-content-6 .content-info-in p {
line-height: 25px;
font-size: 15px;
}

@media (max-width: 1440px) {
.w3l-content-6 .counter-6-inf-left h4 {
    line-height: 70px;
    font-size: 50px;
    width: 60%;
}
}

@media (max-width: 668px) {
.w3l-content-6 .content-info-in p {
    line-height: 25px;
    font-size: 15px;
}

.w3l-content-6 .content-6-mian h4 {
    font-size: 30px;
}
}

@media (max-width: 568px) {
.w3l-content-6 .content-6-mian h4 {
    font-size: 27px;
    line-height: 38px;
}
}

.w3l-content-w-photo-6 .content-photo-6-mian {
background: #f4f4f4;
}

.w3l-content-w-photo-6 .align-photo-6-inf-cols {
align-items: center;
}

@media all and (max-width: 992px) {
.w3l-content-w-photo-6 .photo-6-inf-left {
    margin-top: 3em;
}
}

.w3l-content-w-photo-5 .content-photo-5-mian {
    background: white;
}

.video-66-info {
position: relative;
}

/* Styles for dialog window */
#small-dialog,
#small-dialog1 {
padding: 20px;
text-align: left;
max-width: 650px;
margin: 40px auto;
position: relative;
text-align: center;
}

#small-dialog-it,
#small-dialog-in,
#small-dialog-fr,
#small-dialog-sh,
#small-dialog-sf,
#small-dialog-su,
#small-dialog-me,
#small-dialog-ch,
#small-dialog-pi,
#small-dialog-am {
background: white;
padding: 20px;
text-align: left;
max-width: 450px;
margin: 40px auto;
position: relative;
text-align: center;
}

a.play-icon.popup-with-zoom-anim img:hover {
opacity: 0.5;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-o-transition: 0.5s all;
-moz-transition: 0.5s all;
-ms-transition: 0.5s all;
}

/**
* Fade-zoom animation for first dialog
*/
/* start state */
.my-mfp-zoom-in #small-dialog {
opacity: 0;
transition: all 0.2s ease-in-out;
transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
opacity: 1;
transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
transform: scale(0.8);
opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
transition: opacity 0.3s ease-out;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
opacity: 0;
}

/**
/* Magnific Popup CSS */
.mfp-bg {
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1042;
overflow: hidden;
position: fixed;
background: #fff;
}

.mfp-wrap {
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1043;
position: fixed;
outline: none !important;
}

.mfp-container {
text-align: center;
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
padding: 0 8px;
box-sizing: border-box;
background: #5f6b72 !important;
z-index: 99;
}

.mfp-container:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
display: none;
}

.mfp-content {
position: relative;
display: inline-block;
vertical-align: middle;
margin: 0 auto;
text-align: left;
z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
width: 100%;
cursor: auto;
}

.mfp-ajax-cur {
cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
cursor: zoom-out;
}

.mfp-zoom {
cursor: pointer;
cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.mfp-loading.mfp-figure {
display: none;
}

.mfp-hide {
display: none !important;
}

.mfp-content iframe {
width: 100%;
min-height: 500px;
}

.mfp-preloader {
color: #cccccc;
position: absolute;
top: 50%;
width: auto;
text-align: center;
margin-top: -0.8em;
left: 8px;
right: 8px;
z-index: 1044;
}

.mfp-preloader a {
color: #cccccc;
}

.mfp-preloader a:hover {
color: white;
}

.mfp-s-ready .mfp-preloader {
display: none;
}

.mfp-s-error .mfp-content {
display: none;
}

button.mfp-close,
button.mfp-arrow {
overflow: visible;
cursor: pointer;
border: 0;
background: #000;
-webkit-appearance: none;
display: block;
padding: 0;
z-index: 1046;
}

button::-moz-focus-inner {
padding: 0;
border: 0;
}

.mfp-close {
width: 44px;
height: 44px;
line-height: 44px;
position: absolute;
right: 0px;
top: -43px;
text-decoration: none;
text-align: center;
padding: 0 0 18px 10px;
color: #000;
font-style: normal;
font-size: 28px;
outline: none;
border-radius: 6px;
}

.mfp-close:hover,
.mfp-close:focus {
opacity: 1;
}

.mfp-close-btn-in .mfp-close {
color: #fff;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
color: white;
right: -6px;
text-align: right;
padding-right: 6px;
width: 100%;
}

/*----*/
.video-grids-info {
align-items: center;
}

.video-gd-right {
background-color: black;
background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
z-index: 9;
position: relative;
min-height: 32em;
display: grid;
align-items: center;
}

.video-gd-right::before {
content: "";
background: rgba(21, 19, 19, 0.43);
position: absolute;
top: 0;
min-height: 100%;
left: 0;
right: 0;
z-index: -1;
}

.video-gd-right h6 {
color: #fff;
font-size: 14px;
text-transform: uppercase;
font-weight: 600;
}

.video-grids-info p {
font-size: 16px;
font-weight: normal;
margin-top: 10px;
}

.video-inner a.play-button {
width: 72px;
height: 72px;
display: inline-block;
color: #fff;
background: #ffffff33;
border-radius: 50%;
font-size: 24px;
text-align: center;
outline: none;
border: none;
}

.video-inner a.play-button:hover {
background: #ff7315;
}

.video-inner a.play-button span {
line-height: 60px;
text-align: center;
margin-left: 2px;
}

.video-inner p {
color: #6b778d;
}

iframe {
width: 100%;
min-height: 300px;
}

@media all and (max-width: 320px) {
#small-dialog {
    padding: 15px;
}
}

.w3l-content-5 .content-5-main {
background: url(../images/bg3.jpg) no-repeat bottom;
background-size: cover;
z-index: 9;
position: relative;
padding: 100px 0;
}

.w3l-content-5 .content-5-main::before {
content: "";
background: rgba(35, 32, 32, 0.51);
position: absolute;
top: 0;
min-height: 100%;
left: 0;
right: 0;
z-index: -1;
}

.w3l-content-5 .content-5-main h4 {
font-size: 35px;
line-height: 45px;
color: #3a3535;
}

.w3l-content-5 .content-info-in p {
line-height: 25px;
font-size: 16px;
color: #fff;
opacity: 0.9;
}

.w3l-content-5 .content-info-in {
align-items: center;
}

@media (max-width: 668px) {
.w3l-content-5 .content-5-main {
    padding: 50px 0;
}

.w3l-content-5 .content-info-in p {
    line-height: 25px;
    font-size: 15px;
}

.w3l-content-5 .content-6-mian h4 {
    font-size: 30px;
}
}

@media (max-width: 568px) {
.w3l-content-5 .content-6-mian h4 {
    font-size: 27px;
    line-height: 38px;
}
}

.w3l-ecommerce-main .ecom-top-grids {
/*background: var(--theme-dark-lite);*/
}

.w3l-ecommerce-main .ecom-pro-grids {
background: #5f6b72;
}

.w3l-ecommerce-main .ecom-pro-grids-2 {
background: #5f6b72;
}

.w3l-ecommerce-main .sports-grid img {
display: block;
}

.w3l-ecommerce-main .sports-grid-info {
position: relative;
}

.w3l-ecommerce-main .spt-text-info {
position: absolute;
display: block;
top: 0;
padding: 20px;
}

.w3l-ecommerce-main .multi-gd-text a {
display: block;
position: relative;
}

.w3l-ecommerce-main .multi-gd-img.multi-gd-text h4 {
position: absolute;
top: 0;
left: 0;
font-size: 20px;
color: #fff;
font-weight: 300;
letter-spacing: 1px;
padding: 30px;
bottom: 0;
width: 100%;
}

.w3l-ecommerce-main .multi-gd-img.multi-gd-text h4 span {
font-weight: 700;
color: #3a3535;
}

.w3l-ecommerce-main .multi-gd-text a:hover::before {
width: 100%;
height: 100%;
}

.w3l-ecommerce-main .multi-gd-text a::before {
background: rgba(0, 0, 0, 0.1);
position: absolute;
right: 0;
top: 0;
width: 0;
height: 0;
transition: all 0.5s ease-out 0s;
z-index: 99;
content: "";
}

.w3l-ecommerce-main .multi-gd-text img {
height: auto;
width: 100%;
}

.w3l-ecommerce-main .multi-gd-text a:hover::after {
width: 100%;
height: 100%;
}

.w3l-ecommerce-main .multi-gd-text a::after {
background: rgba(0, 0, 0, 0.1);
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 0;
transition: all 0.5s ease-out 0s;
z-index: 99;
content: "";
}

.w3l-ecommerce-main .image-box {
position: relative;
margin: auto;
overflow: hidden;
}

.w3l-ecommerce-main .image-box img {
max-width: 100%;
transition: all 0.3s;
display: block;
width: 100%;
height: auto;
transform: scale(1);
}

.w3l-ecommerce-main .image-box:hover img {
transform: scale(1.1);
}

.w3l-ecommerce-main .products-left-img {
position: relative;
}

.w3l-ecommerce-main .hover-product-inf {
position: absolute;
padding: 20px;
width: 100%;
left: 0;
right: 0;
margin: 0 auto;
text-align: center;
bottom: 20px;
}

.w3l-ecommerce-main .hover-product-inf h4 {
font-size: 18px;
color: #5f6b72;
font-weight: 600;
margin-bottom: 20px;
}

.w3l-ecommerce-main .ecom-button.btn {
border: 2px solid #3a3535;
color: #fff;
background: #3a3535;
font-size: 16px;
padding: 8px 35px;
letter-spacing: 1px;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius: 25px;
-o-border-radius: 25px;
font-weight: bold;
}

.w3l-ecommerce-main .ecom-button.btn:hover {
opacity: 0.8;
}

.w3l-ecommerce-main .product-grid2 {
position: relative;
}

.w3l-ecommerce-main .product-grid2 .product-image2 {
overflow: hidden;
position: relative;
}

.w3l-ecommerce-main .product-grid2 .product-image2 a {
display: block;
}

.w3l-ecommerce-main .product-grid2 .product-image2 img {
width: 100%;
height: auto;
}

.w3l-ecommerce-main .product-image2 .pic-1 {
opacity: 1;
transition: all .5s;
}

.w3l-ecommerce-main .product-grid2:hover .product-image2 .pic-1 {
opacity: 0;
}

.w3l-ecommerce-main .product-image2 .pic-2 {
width: 100%;
height: 100%;
opacity: 0;
position: absolute;
top: 0;
left: 0;
transition: all .5s;
background: #00000057;
}

.w3l-ecommerce-main .product-grid2:hover .product-image2 .pic-2 {
opacity: 1;
}

.w3l-ecommerce-main .product-grid2 .social {
padding: 0;
margin: 0;
position: absolute;
bottom: 50px;
right: 25px;
z-index: 1;
}

.w3l-ecommerce-main .product-grid2 .social li {
margin: 0 0 10px;
display: block;
transform: translateX(100px);
transition: all .5s;
}

.w3l-ecommerce-main .product-grid2:hover .social li {
transform: translateX(0);
}

.w3l-ecommerce-main .product-grid2:hover .social li:nth-child(2) {
transition-delay: .15s;
}

.w3l-ecommerce-main .product-grid2:hover .social li:nth-child(3) {
transition-delay: .25s;
}

.w3l-ecommerce-main .product-grid2 .social li a {
color: #5f6b72;
background-color: #fff;
font-size: 17px;
line-height: 45px;
text-align: center;
height: 45px;
width: 45px;
border-radius: 50%;
display: block;
transition: all .3s ease 0s;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.w3l-ecommerce-main .product-grid2 .social li a:hover {
color: #fff;
background-color: #ff7315;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.w3l-ecommerce-main .product-grid2 .social li a:after,
.w3l-ecommerce-main .product-grid2 .social li a:before {
content: attr(data-tip);
color: #fff;
background-color: #5f6b72;
font-size: 12px;
line-height: 22px;
border-radius: 3px;
padding: 0 5px;
white-space: nowrap;
opacity: 0;
transform: translateX(-50%);
position: absolute;
left: 50%;
top: -30px;
}

.w3l-ecommerce-main .product-grid2 .social li a:after {
content: '';
height: 15px;
width: 15px;
border-radius: 0;
transform: translateX(-50%) rotate(45deg);
top: -22px;
z-index: -1;
}

.w3l-ecommerce-main .product-grid2 .social li a:hover:after,
.w3l-ecommerce-main .product-grid2 .social li a:hover:before {
background-color: #ff7315;
}

.w3l-ecommerce-main .product-grid2 .add-to-cart {
color: #fff;
background-color: #5f6b72;
font-size: 16px;
font-weight: 600;
text-align: center;
width: 100%;
padding: 10px 10px;
display: block;
position: absolute;
left: 0;
bottom: -100%;
transition: all .3s;
}

.w3l-ecommerce-main .product-grid2 .add-to-cart:hover {
background-color: #ff7315;
text-decoration: none;
}

.w3l-ecommerce-main .product-grid2:hover .add-to-cart {
bottom: 0;
}

.w3l-ecommerce-main .product-grid2 .product-new-label {
background-color: #5f6b72;
color: #fff;
font-size: 17px;
padding: 5px 10px;
position: absolute;
right: 0;
top: 0;
transition: all .3s;
}

.w3l-ecommerce-main .product-grid2:hover .product-new-label {
opacity: 0;
}

.w3l-ecommerce-main .product-grid2 .product-content {
padding: 20px 10px;
text-align: center;
}

.w3l-ecommerce-main .product-grid2 .title {
font-size: 18px;
margin: 0 0 6px 0;
color: #ff7315;
}

.w3l-ecommerce-main .product-grid2 .title a {
color: #5f6b72;
font-weight: 700;
}

.w3l-ecommerce-main .product-grid2 .title a:hover {
color: #ff7315;
}

.w3l-ecommerce-main .product-grid2 .price {
color: #3a3535;
font-size: 15px;
font-weight: bold;
font-family: 'Lato', sans-serif;
}

.w3l-ecommerce-main span.price del {
color: #6b778d;
font-weight: 400;
margin-right: 6px;
}

@media (max-width: 992px) {
.w3l-ecommerce-main .product-grid2 .title {
    font-size: 16px;
}

.w3l-ecommerce-main .cover-top-center-9 {
    min-height: 36em;
}
}

@media (max-width: 767px) {
.w3l-ecommerce-main .product-grid2 .title {
    font-size: 14px;
}
}

@media (max-width: 640px) {
.w3l-ecommerce-main .product-grid2 .title {
    font-size: 14px;
}

.w3l-ecommerce-main .product-grid2 .social li a {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    width: 32px;
}

.w3l-ecommerce-main .product-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 15px;
    z-index: 1;
}
}

.w3l-post-grids-6 ul.blog-info-list {
display: flex;
}

.w3l-post-grids-6 .blog-thumbhny-caption {
padding: 30px;
position: relative;
background: #f4f4f4;
text-overflow: ellipsis;
border-radius: 0px 0px 6px 6px;
-webkit-border-radius: 0px 0px 6px 6px;
-o-border-radius: 0px 0px 6px 6px;
-moz-border-radius: 0px 0px 6px 6px;
}

.w3l-post-grids-6 figure {
overflow: hidden;
margin: 0px;
border-radius: 6px 6px 0px 0px;
}

.w3l-post-grids-6 .grids5-info h4 a {
font-size: 18px;
line-height: 26px;
color: #5f6b72;
margin-top: 10px;
display: block;
font-weight: 600;
}

.w3l-post-grids-6 ul.blog-info-list li {
font-size: 14px;
color: #6b778d;
text-transform: capitalize;
list-style: none;
}

.w3l-post-grids-6 li.date-post {
border-left: 1px solid #ddd;
margin-left: 10px;
padding-left: 10px;
}

.w3l-post-grids-6 ul.blog-info-list li a {
color: #3a3535;
}

.w3l-post-grids-6 .column-img img {
display: block;
width: 100%;
}

.w3l-post-grids-6 .column-img#zoomIn img {
transform: scale(1);
transition: .3s ease-in-out;
border-radius: 6px 6px 0px 0px;
-webkit-border-radius: 6px 6px 0px 0px;
-o-border-radius: 6px 6px 0px 0px;
-moz-border-radius: 6px 6px 0px 0px;
}

.w3l-post-grids-6 .column-img#zoomIn:hover img {
transform: scale(1.3);
border-radius: 6px 6px 0px 0px;
-webkit-border-radius: 6px 6px 0px 0px;
-o-border-radius: 6px 6px 0px 0px;
-moz-border-radius: 6px 6px 0px 0px;
}

.w3l-post-grids-6 .grids5-info a:hover {
color: #ff7315;
}

@media all and (max-width: 1280px) {
.w3l-post-grids-6 .blog-thumbhny-caption {
    padding: 20px;
}
}

@media all and (max-width: 736px) {
.w3l-post-grids-6 .grids5-info.column-img {
    margin-bottom: 2em;
}
}

.w3l-customers-sec-6 .customers-sec-6-cintent {
background: #f4f4f4;
}

.w3l-customers-sec-6 .feedback-hny {
padding: 40px 20px;
position: relative;
text-align: center;
background-color: #5f6b72;
border-radius: 6px;
}

.w3l-customers-sec-6 .feedback-hny:after {
top: 100%;
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.w3l-customers-sec-6 .feedback-hny:after {
border-color: transparent;
border-top-color: #5f6b72;
border-width: 10px;
margin-left: -10px;
}

.w3l-customers-sec-6 p.feedback-para {
margin: 0;
font-size: 15px;
color: #d4d1d1;
margin-top: 16px;
}

.w3l-customers-sec-6 .feedback-hny span.fa {
display: block;
color: #b4bcb8;
font-size: 24px;
}

.w3l-customers-sec-6 .feedback-review img {
border-radius: 50%;
border: 4px solid #ddd;
width: 24%;
}

.w3l-customers-sec-6 .feedback-review h5 {
font-size: 16px;
line-height: 26px;
color: #5f6b72;
margin-top: 10px;
font-weight: 600;
}

.w3l-customers-sec-6 .customerhny .carousel-indicators {
left: 0;
top: auto;
bottom: -64px;
margin: 0 auto;
}

.w3l-customers-sec-6 .customerhny .carousel-indicators li {
background: #a3a3a3;
border-radius: 50%;
-webkit-border-radius: 50%;
-o-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
border: none;
width: 12px;
height: 12px;
margin: 0px 6px;
}

.w3l-customers-sec-6 .customerhny .carousel-indicators .active {
background: #707070;
}

@media (max-width: 767px) {
.w3l-customers-sec-6 .customer-info {
    margin-bottom: 44px;
}

.w3l-customers-sec-6 .customerhny .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -30px;
    margin: 0 auto;
}
}

@media (max-width: 737px) {
.w3l-customers-sec-6 .customerhny .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -25px;
    margin: 0 auto;
}
}

@media (max-width: 640px) {
.w3l-customers-sec-6 .feedback-review img {
    width: 10%;
}
}

@media (max-width: 440px) {
.w3l-customers-sec-6 .feedback-review img {
    width: 14%;
}
}

.w3l-subscription-6 .subscription-grids.row {
align-items: center;
}

.w3l-subscription-6 .subscription-left {
background: url(../images/11.jpg) no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
min-height: 48em;
position: relative;
}

.w3l-subscription-6 .forms-gds {
display: grid;
grid-template-columns: 2fr 1fr;
}

.w3l-subscription-6 .form-right-inf input[type="email"] {
background: #f1eeee;
outline: none;
width: 100%;
font-size: 16px;
padding: 0px 15px;
color: #5f6b72;
height: 53px;
text-align: left;
-webkit-appearance: none;
border: none;
border-radius: 0;
-webkit-border-top-left-radius: 25px;
-webkit-border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
-moz-border-radius-bottomleft: 25px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
}

.w3l-subscription-6 .forms-gds button.btn {
cursor: pointer;
line-height: 30px;
text-decoration: none;
-webkit-appearance: none;
display: inline-block;
font-style: normal;
font-weight: 600;
font-size: 16px;
text-align: center;
color: #fff;
background: #ff7315;
height: 53px;
transition: 0.3s ease;
border: none;
border-radius: 0;
-webkit-border-top-right-radius: 25px;
-webkit-border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
-moz-border-radius-bottomright: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
width: 100%;
}

.w3l-subscription-6 .forms-gds button.btn:hover {
background: #5f6b72;
}

@media (max-width: 1080px) {
.w3l-subscription-6 .subscription-left {
    min-height: 36em;
    background: url(../images/11.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
}

@media (max-width: 480px) {
.w3l-subscription-6 .subscription-left {
    min-height: 17em;
    background: url(../images/11.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
}

.w3l-footer-22 .footer-hny {
background: #5f6b72;
position: absolute;
bottom: 0;
width: 100%;
}

.w3l-footer-22 .footer-hny li {
list-style: none;
}

.w3l-footer-22 a.logo-footer {
color: #fff;
font-weight: 900;
}

.w3l-footer-22 span.lohny {
color: #ff7315;
margin-bottom: 0;
}

.w3l-footer-22 .text-txt h3 {
color: #fff;
font-size: 26px;
line-height: 30px;
margin-bottom: 20px;
text-transform: uppercase;
}

.w3l-footer-22 p {
font-weight: normal;
font-size: 16px;
color: #e5e2e3;
}

.w3l-footer-22 ul.social-footerhny li {
display: inline;
margin-right: 16px;
}

.w3l-footer-22 ul.social-footerhny li a {
color: #fff;
display: inline-block;
width: 36px;
height: 36px;
background-color: #3a3535;
text-align: center;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
}

.w3l-footer-22 ul.social-footerhny li a span.fa {
color: #fff;
font-size: 18px;
line-height: 37px;
margin: 0;
}

.w3l-footer-22 ul.social-footerhny li a:hover {
background: #ff7315;
transition: 0.3s ease;
}

.w3l-footer-22 .subscride-link h4 {
font-size: 22px;
margin-top: 81px;
color: #fff;
}

.w3l-footer-22 .sub-one-left h6,
.w3l-footer-22 .sub-two-right h6 {
color: #fff;
font-size: 20px;
line-height: 20px;
text-transform: uppercase;
margin-bottom: 25px;
}

.w3l-footer-22 .sub-one-left p,
.w3l-footer-22 .sub-two-right p {
font-style: normal;
font-weight: normal;
line-height: 25px;
color: #e5e3de;
}

.w3l-footer-22 .sub-columns {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
margin-top: 60px;
}

.w3l-footer-22 .footer-hny-ul {
display: grid;
grid-template-columns: 1fr 1fr;
/*grid-gap: 20px;*/
}

.w3l-footer-22 .footer-hny-ul li a {
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #e5e2e3;
margin: 0 0 10px 0;
display: block;
}

.w3l-footer-22 .sub-two-right ul li {
display: inline-block;
}

.w3l-footer-22 a.pay-method {
color: #acb2b7;
}

.w3l-footer-22 a.pay-method span {
font-size: 34px;
margin: 0 10px 0px 0;
}

.w3l-footer-22 a.pay-method:hover {
color: #e5e2e3;
}

.w3l-footer-22 ul.social li,
.w3l-footer-22 ul.jst-link li {
display: inline-block;
margin-right: 15px;
}

.w3l-footer-22 .columns p a,
.w3l-footer-22 .columns ul li a {
font-size: 16px;
line-height: 20px;
color: #e5e2e3;
}

.w3l-footer-22 .footer-hny-ul li a:hover,
.w3l-footer-22 .columns p a:hover,
.w3l-footer-22 .columns ul li a:hover {
color: #b4bcb8;
}

.w3l-footer-22 .right-side h4 {
font-size: 36px;
line-height: 46px;
color: #fff;
}

.w3l-footer-22 .below-section {
align-items: center;
border-top: 1px solid #565252;
padding-top: 5px;
}

.w3l-footer-22 #movetop {
position: fixed;
bottom: 12px;
right: 15px;
z-index: 99;
font-size: 16px;
border: none;
outline: none;
cursor: pointer;
color: #fff;
width: 38px;
height: 38px;
background: #5f6b72;
padding: 0;
line-height: 38px;
transition: 0.5s ease-out;
border-radius: 50%;
}

.w3l-footer-22 #movetop:hover {
background: #b4bcb8;
}

@media (max-width: 992px) {
.w3l-footer-22 .right-side {
    margin-top: 2em;
}

.w3l-footer-22 .right-side h4 {
    font-size: 32px;
    line-height: 42px;
}
}

@media (max-width: 768px) {
.w3l-footer-22 .sub-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 40px;
}

.w3l-footer-22 .columns p a,
.w3l-footer-22 .columns ul li a {
    font-size: 15px;
}

.w3l-footer-22 .below-section {
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
}

.w3l-footer-22 ul.jst-link {
    margin-bottom: 10px;
}
}

@media (max-width: 600px) {
.w3l-footer-22 .right-side h4 {
    font-size: 24px;
    line-height: 30px;
}

.w3l-footer-22 .sub-one-left h6,
.w3l-footer-22 .sub-two-right h6 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
}

.w3l-footer-22 ul.social li,
.w3l-footer-22 ul.jst-link li {
    margin-right: 4px;
}
}


.w3l-banner-slider-main.inner-pagehny .breadcrumb-infhny {
background: url(../images/bg1.jpg) no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
z-index: 9;
position: relative;
min-height: 22em;
}

.w3l-banner-slider-main.inner-pagehny .breadcrumb-infhny::before {
content: "";
background: rgba(14, 13, 13, 0.59);
position: absolute;
top: 0;
min-height: 100%;
left: 0;
right: 0;
z-index: -1;
}

.w3l-banner-slider-main.inner-pagehny .breadcrumb-contentnhy {
padding-top: 12em;
}

.w3l-banner-slider-main.inner-pagehny h2.hny-title {
font-size: 42px;
color: #fff;
font-weight: 600;
}

.w3l-banner-slider-main.inner-pagehny .breadcrumb {
display: flex;
flex-wrap: wrap;
padding: 0.75rem 1rem;
margin-bottom: 1rem;
list-style: none;
background-color: transparent;
border-radius: 0.25rem;
justify-content: center;
}

.w3l-banner-slider-main.inner-pagehny ol.breadcrumb li {
color: #fff;
}

.w3l-banner-slider-main.inner-pagehny ol.breadcrumb li span {
margin: 0 10px;
color: #b9bdbd;
}

.w3l-banner-slider-main.inner-pagehny ol.breadcrumb a {
color: #fff;
}

.w3l-banner-slider-main.inner-pagehny .breadcrumb-item.active {
color: #fff;
}

@media screen and (max-width: 991px) {
.w3l-banner-slider-main.inner-pagehny h2.hny-title {
    font-size: 36px;
}

.w3l-banner-slider-main.inner-pagehny .breadcrumb {
    padding: 0;
}
}

@media screen and (max-width: 667px) {
.w3l-banner-slider-main.inner-pagehny h2.hny-title {
    font-size: 32px;
}

.w3l-banner-slider-main.inner-pagehny .breadcrumb-infhny {
    padding: 10px 0;
}

.w3l-banner-slider-main.inner-pagehny .breadcrumb-infhny {
    min-height: 16em;
}

.w3l-banner-slider-main.inner-pagehny .breadcrumb-contentnhy {
    padding-top: 8.5em;
}
}

@media screen and (max-width: 480px) {
.w3l-banner-slider-main.inner-pagehny h2.hny-title {
    font-size: 28px;
}
}

@media screen and (max-width: 384px) {
.w3l-banner-slider-main.inner-pagehny h2.hny-title {
    font-size: 26px;
}
}

.w3l-team-main .team_info h3 {
margin: 0;
font-weight: 600;
}

.w3l-team-main .team_name {
font-size: 22px;
font-weight: 600;
color: #5f6b72;
text-transform: capitalize;
line-height: 32px;
margin: 0;
}

.w3l-team-main .team_name:hover {
color: #ff7315;
}

.w3l-team-main span.team_role {
margin: 0;
color: #6b778d;
}

.w3l-team-main img:hover {
opacity: 0.9;
}

.w3l-team-main h4.team_phone {
font-size: 22px;
text-transform: capitalize;
line-height: 32px;
color: #3a3535;
}

.w3l-team-main .team_info {
text-align: center;
}

.w3l-team-main .team span.info {
text-transform: uppercase;
font-weight: 600;
color: #ff7315;
font-size: 16px;
}

.w3l-team-main .team_info {
text-align: center;
bottom: 30px;
left: 40px;
right: 40px;
background: #fff;
padding: 20px 10px;
border-radius: 6px;
}

.w3l-team-main ul.team-social li {
margin: 0 5px;
display: inline-block;
}

.w3l-team-main ul.team-social li a {
color: #5f6b72;
}

.w3l-team-main ul.team-social li a:hover {
color: #ff7315;
}

.w3l-team-main ul.team-social li a span.fa {
font-size: 15px;
margin-right: 6px;
}

.w3l-team-main .team-wrapper img {
width: 100%;
}

.w3l-wecome-content-6 .ab-content-6-mian {
background: #fff;
}

.w3l-wecome-content-6 .welcome-grids {
align-items: center;
}

.w3l-wecome-content-6 .ab-content-6-mian p {
line-height: 25px;
font-size: 15px;
}

.w3l-specification-6 .specification-6-mian {
background: #f4f4f4;
}

.w3l-specification-6 .story-6-grids {
align-items: center;
}

.w3l-specification-6 .story-info h5 a {
color: #5f6b72;
line-height: 25px;
font-size: 20px;
text-transform: capitalize;
font-weight: 600;
margin-bottom: 16px;
}

.w3l-specification-6 .story-info {
margin-bottom: 16px;
}

.w3l-specification-6 .story-info h5 a:hover {
color: #ff7315;
}

@media (max-width: 992px) {
.w3l-specification-6 .story-gd {
    margin-top: 3em;
}
}

.w3l-services-6 .services-grids-6 {
background: url(../images/banner4.jpg) no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
z-index: 0;
position: relative;
}

.w3l-services-6 .services-grids-6::before {
content: "";
background: rgba(14, 13, 13, 0.59);
position: absolute;
top: 0;
min-height: 100%;
left: 0;
right: 0;
z-index: -1;
}

.w3l-services-6 .w3-icon-grid1 {
margin-bottom: 46px;
}

.w3l-services-6 .w3-icon-grid1 a h3 {
color: #fff;
font-size: 26px;
line-height: 27px;
float: left;
margin-bottom: 15px;
font-weight: 600;
}

.w3l-services-6 .w3-icon-grid1 a:hover h3 {
color: #ff7315;
transition: .3s;
-webkit-transition: .3s;
-moz-transition: .3s;
-ms-transition: .3s;
-o-transition: .3s;
}

.w3l-services-6 .w3-icon-grid1 a span.fa {
font-size: 26px;
float: left;
width: 40px;
color: #b4bcb8;
}

.w3l-services-6 .w3-icon-grid1 p {
font-size: 16px;
line-height: 26px;
padding: 0 0em;
margin: 0;
color: #fff;
opacity: 0.8;
}

@media (max-width: 1280px) {
.w3l-services-6 .services-second-part h5 {
    font-size: 17px;
}
}

@media (max-width: 992px) {
.w3l-services-6 .w3-icon-grid1 {
    margin-bottom: 36px;
}
}

@media (max-width: 668px) {
.w3l-services-6 .w3-icon-grid1 a h3 {
    font-size: 20px;
}
}

.features-4 .features4-block {
background: #f4f4f4;
}

.features-4 .features4-grid-inn {
padding: 40px 20px;
transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
background: #fff;
border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-o-border-radius: 6px;
}

.features-4 .features4-grid-inn:hover {
background: #f8e2d3;
}

.features-4 .features4-grid-inn:hover p {
color: #84410f;
}

.features-4 .features4-block h6 {
text-align: center;
font-weight: 300;
text-transform: uppercase;
color: #ff7315;
}

.features-4 p.what-para {
font-size: 20px;
width: 66%;
margin: 0 auto;
}

.features-4 .features4-grid h5 a {
font-size: 22px;
line-height: 25px;
color: #5f6b72;
display: block;
text-transform: capitalize;
margin: 0px 0 12px 0;
font-weight: 600;
}

.features-4 .features4-grid p {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
margin-top: 0px;
margin-bottom: 0;
}

.features-4 span.fa.icon-fea4 {
font-size: 50px;
margin-bottom: 16px;
color: #ff7315;
}

@media all and (max-width: 1080px) {
.features-4 .features4-grid h5 a {
    font-size: 18px;
    line-height: 20px;
    margin: 0px 0 10px 0;
}
}

@media all and (max-width: 991px) {
.features-4 p.what-para {
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

.features-4 .features4-grid {
    margin-bottom: 2em;
}
}

@media all and (max-width: 600px) {
.features-4 p.what-para {
    width: 100%;
    margin: 0 auto;
}
}

.w3l-contacts-8 .d-grid {
display: grid;
}

.w3l-contacts-8 .cont-details span.fa {
margin-right: 10px;
color: #b4bcb8;
}

.w3l-contacts-8 .partners p {
font-size: 16px;
margin-bottom: 10px;
}

.w3l-contacts-8 span.texthny {
color: #ff7315;
font-family: 'Oswald', sans-serif;
}

.w3l-contacts-8 .partners p a {
color: #5f6b72;
font-size: 16px;
}

.w3l-contacts-8 .partners p a:hover {
color: #ff7315;
}

.w3l-contacts-8 .cont-details h5 {
color: #2c3038;
font-size: 26px;
line-height: 30px;
margin-bottom: 15px;
}

.w3l-contacts-8 .cont-details p {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}

.w3l-contacts-8 .cont-details p a {
color: #5f6b72;
font-size: 16px;
font-weight: bold;
}

.w3l-contacts-8 .cont-details p a:hover {
color: #ff7315;
text-decoration: underline;
}

.w3l-contacts-8 .cont-details address {
margin: 0px 0 10px;
}

.w3l-contacts-8 .cont-details address p {
margin: 10px 0;
}

.w3l-contacts-8 h4.sub-feat-text {
color: #5f6b72;
margin-bottom: 15px;
font-size: 35px;
line-height: 40px;
}

.w3l-contacts-8 .map iframe {
width: 100%;
min-height: 100%;
background: #f4f4f4;
padding: 10px;
}

.w3l-contacts-8 .cont-details h6 {
font-size: 16px;
color: #5f6b72;
margin-bottom: 10px;
}

.w3l-contacts-8 .cont-details h6 a {
font-size: 16px;
color: #444;
}

.w3l-contacts-8 .margin-top {
margin-top: 20px;
}

.w3l-contacts-8 .hours {
margin-top: 40px;
}

.w3l-contacts-8 .hours h6 {
color: #3a3535;
font-size: 20px;
line-height: 25px;
margin-bottom: 10px;
}

.w3l-contacts-8 .hours p {
font-size: 16px;
margin-bottom: 0;
color: #6b778d;
}

.w3l-contacts-8 .form-bg-img {
background: url(../images/banner4.jpg) no-repeat 0px 0px;
background-attachment: fixed;
background-size: cover;
}

.w3l-contacts-8 .layer {
background: rgba(0, 0, 0, 0.6);
}

.w3l-contacts-8 .map-content-9 form input,
.w3l-contacts-8 .map-content-9 form select,
.w3l-contacts-8 .map-content-9 form textarea {
background: #fff;
border: none;
color: #6b778d;
font-size: 16px;
line-height: 20px;
padding: 16px 20px;
width: 100%;
text-transform: capitalize;
border-radius: 6px;
}

.w3l-contacts-8 .form .input-grids {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 15px;
}

.w3l-contacts-8 .map-content-9 h5 {
color: #fff;
font-size: 34px;
line-height: 40px;
margin-bottom: 25px;
}

.w3l-contacts-8 .map-content-9 form textarea {
resize: none;
min-height: 100px;
margin: 15px 0;
}

.w3l-contacts-8 button {
cursor: pointer;
padding: 14px 60px;
font-size: 18px;
line-height: 25px;
background: #ff7315;
border: none;
color: #fff;
font-weight: bold;
transition: 0.3s ease;
}

.w3l-contacts-8 button:hover {
opacity: 0.9;
transition: 0.3s ease;
}

.w3l-contacts-8 .contacts-sub-9 address h4 {
margin-bottom: 10px;
}

.w3l-contacts-8 .contacts-sub-9 address a {
display: block;
}

@media (max-width: 992px) {
.w3l-contacts-8 .map-content-9 {
    order: 1;
}

.w3l-contacts-8 .cont-details p,
.w3l-contacts-8 .cont-details p a {
    font-size: 16px;
}

.w3l-contacts-8 .map iframe {
    height: 350px;
}

.w3l-contacts-8 .map {
    margin-top: 2em;
}

.w3l-contacts-8 .form .input-grids {
    grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 800px) {
.w3l-contacts-8 h4.sub-feat-text {
    margin-bottom: 10px;
    font-size: 33px;
}
}

@media (max-width: 736px) {
.w3l-contacts-8 .top-map {
    grid-gap: 25px;
}

.w3l-contacts-8 .map {
    order: 2;
    grid-column: span 1;
}

.w3l-contacts-8 .form .input-grids {
    grid-template-columns: 1fr;
}
}

@media (max-width: 480px) {
.w3l-contacts-8 h4.sub-feat-text {
    margin-bottom: 8px;
    font-size: 30px;
}

.w3l-contacts-8 button {
    width: 100%;
}

.w3l-contacts-8 .partners h5 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
}

.w3l-contacts-8 .map iframe {
    height: 300px;
}
}

@media (max-width: 384px) {
.w3l-contacts-8 h4.sub-feat-text {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 28px;
}
}

/* Home */
/* .not-change-size{
    width: 100% !important;
} */



.mobile {
    margin: 0px 20px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url('../img/mobile-2.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 160px 160px;
    z-index: 999;
}

.website {
    margin: 0px 20px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url('../img/website.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 160px 160px;
    z-index: 999;
}

.desktop {
    margin: 0px 20px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url('../img/desktop-2.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 160px 160px;
    z-index: 999;
}

.welcome-grids h4, .welcome-grids a {
    margin: 170px 25px;
    color: #747c73 !important;
    font-family: 'Oswald', sans-serif !important;
    text-decoration: none !important;
}

.welcome-grids a:hover {
    color: #e5e3de !important;
}

@media (min-width: 1366px) {
    .welcome-grids .col-md-12 {
        padding-left:23% !important;
    }
}

@media (min-width: 1199px) {
    .welcome-grids .col-md-12 {
        padding-left:23% !important;
    }
}

@media (max-width: 667px) {
    .welcome-grids .col-md-12 {
        padding-left:auto !important;
    }
}

