html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* start editing from here */
a {
text-decoration: none;
}
.txt-rt {
text-align: right;
}
/* text align right */
.txt-lt {
text-align: left;
}
/* text align left */
.txt-center {
text-align: center;
}
/* text align center */
.float-rt {
float: right;
}
/* float right */
.float-lt {
float: left;
}
/* float left */
.clear {
clear: both;
}
/* clear float */
.pos-relative {
position: relative;
}
/* Position Relative */
.pos-absolute {
position: absolute;
}
/* Position Absolute */
.vertical-base {
vertical-align: baseline;
}
/* vertical align baseline */
.vertical-top {
vertical-align: top;
}
/* vertical align top */
nav.vertical ul li {
display: block;
}
/* vertical menu */
nav.horizontal ul li {
display: inline-block;
}
/* horizontal menu */
img {
max-width: 100%;
}
/*end reset*/
html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}
body a {
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:focus,
a:hover {
    text-decoration: none;
}
select,
input[type="email"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
textarea {
font-family: 'Montserrat', sans-serif;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
letter-spacing: 1px;
}
p {
margin: 0;
padding: 0;
letter-spacing: 1px;
font-family: 'Montserrat', sans-serif;
}
ul {
margin: 0;
padding: 0;
}
/*-- //Reset-Code --*/
.back-image {
background:#5f6b72;
min-height: 100vh;
}
h1.header-w3ls {
font-size: 66px;
padding: 46px 0px 0px;
margin-bottom: 81px;
text-align: center;
text-transform: capitalize;
font-weight: 700;
color: #fff;
font-family: 'Tangerine', cursive;
/* text-shadow: 2px 3px rgba(216, 216, 216, 0.49); */
letter-spacing: 2px;
}
.left-side a,.btnn,.line-mid{
text-align: center;
}
/*--icon-position--*/
.headder-icon {
position: relative;
}
.top-icon {
    position: absolute;
    top: -106px;
    font-weight: 900;
    background: #fff;
    width: 102px;
	text-align: center;
    height: 102px;
    border-radius: 50px;
    box-shadow: 0px 1px 20px 0px rgba(187, 187, 187, 0.3);
}
.top-icon span {  
color: #5f6b72;
font-size: 52px;
line-height: 102px;
font-weight: bold;
}
/*-- //icon-position--*/
.its-sign-in h2 {
font-size: 24px;
text-transform: uppercase;
font-weight: 600;
margin: 1.5em 0em 1em;
color: #fff;
text-align: center;
}
/*-- form-code--*/
.main {
padding: 3em 3em 3em;
width: 22%;
margin: 0px auto;
background: #000;
-webkit-box-shadow: 3px 17px 43px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 17px 43px 6px rgba(0,0,0,0.75);
box-shadow: 3px 17px 43px 6px rgba(0,0,0,0.75);
}
.form-left-w3l input[type="password"], .form-left-w3l input[type="email"], 
.form-left-w3l input[type="text"]{
width: 100%;
color: #fff;
outline: none;
font-size: 14px;
padding: .8em 0em;
margin: 10px 0px 9px;
border: none;
border-bottom: 1px solid #fff;
-webkit-appearance: none;
display: inline-block;
background: transparent;
box-sizing: border-box;
}
::-webkit-input-placeholder {
/* Chrome/Opera/Safari */
color: #fff;
}
::-moz-placeholder {
/* Firefox 19+ */
color: #fff;
}
:-ms-input-placeholder {
/* IE 10+ */
color: #fff;
}
:-moz-placeholder {
/* Firefox 18- */
color: #fff;
}
button[type=submit] {
width: 100%;
background: #fff;
outline: none;
color: #000;
font-size: 15px;
/* border-radius: 50px; */
font-weight: 400;
border: none;
padding: 16px 0px;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-o-transition: 0.5s all;
-moz-transition: 0.5s all;
-ms-transition: 0.5s all;
/* box-shadow: 0px 1px 4px 0px black; */
}
button:hover {
color: #fff;
background:#5f6b72;
}
/*-- form-code--*/
.line-mid h4 {
font-size: 15px;
color: #fff;
display: inline-block;
border: 1px solid;
width: 36px;
height: 36px;
line-height: 36px; 
border-radius: 51px;
margin: 22px 0px;
}
.rem-pass-agile{
display: -webkit-flex;
display: -webkit-box;
display: -moz-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-moz-box-pack: justify;
-ms-flex-pack: justify;
-webkit-justify-content: space-between;
justify-content: space-between;
}
.icons{
display: -webkit-flex;
display: -webkit-box;
display: -moz-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
margin-bottom:17px;
}
.left-side,.right-side,.follow-one,.follow-two{flex:1;}
.right-side a,.left-side a {
font-size: 14px;
color:#5f6b72;
font-weight: 600;
letter-spacing: 1px;
display: block;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-o-transition: 0.5s all;
-moz-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.right-side a:hover,.left-side a:hover{color:#fff;}
.follow-one a,.follow-two a {
padding: 1em 1em;
display: inline-block;
text-align: center;
letter-spacing: 1px;
font-size: 15px;
color: #fff;
width: 100%;
box-sizing: border-box;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-o-transition: 0.5s all;
-moz-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.follow-one a span,.follow-two a span,.span{
font-size: 14px;
margin-left: 14px;
color: #fff;
}
/*--check bottom--*/
.left-side{position: relative;}
input.checked {
display: inline-block;
position: absolute;
top:4px;
width:14%;
left:-8px;
margin: 0px;
cursor: pointer;
}
.span {
color: #fff;
font-size: 14px;
margin-left: 19px;
font-weight: 600;
}
/*--//check bottom--*/
.follow-one {
background: #3b5998;
}
/* .follow-one:hover{background:#1e4eb3;}
.follow-two{
background: #dd4b39;
} */
/* .follow-two:hover{background:#d02814;}
.copy {
padding: 40px 0px 30px;
} */
.copy p {
margin: 0em;
text-align: center;
font-size: 15px;
color: white;
}
.copy p a {
color: #fff;
text-decoration: none;
}
.copy p a:hover {	color:#33e8ff;}
/*--responsive--*/
@media(max-width:1920px){
.top-icon {
left: 158px;
}
.rem-pass-agile {
margin: 29px 0px 32px;
}
h1.header-w3ls {
font-size: 72px;
}
}
@media(max-width:1680px){
.top-icon {
left: 132px;
}	
h1.header-w3ls {
font-size: 69px;
}
}
@media(max-width:1600px){
.top-icon{
left:124px;
}
.rem-pass-agile{
margin: 22px 0px 22px;
}
h1.header-w3ls {
font-size: 66px;
}
}
@media(max-width:1440px){
.main {
width: 27%;
}
.top-icon {
left: 90px;
width: 98px;
height: 98px;
}	
.top-icon span {
	line-height: 98px;
}
}
@media(max-width:1366px){
.main {
width: 29%;
}	
.its-sign-in h2 {
margin: 1.3em 0em .8em;
}
}
@media(max-width:1280px){
h1.header-w3ls {
font-size: 64px;
}
.its-sign-in h2 {
font-size: 23px;
}
button[type=submit] {
padding: 8px 0px;
}
}
@media(max-width:1080px){
.main {
width: 35%;
}
h1.header-w3ls {
padding: 41px 0px 0px;
}
.follow-one a,.follow-two a {
padding: .8em .8em;
}
}
@media(max-width:1050px){
.top-icon {
width: 94px;
height: 94px;
}
.top-icon span{
line-height: 94px;
font-size: 50px;}
.main {
width: 36%;
}
.line-mid h4 {
width: 34px;
height: 34px;
line-height: 34px;
}
}
@media(max-width:1024px){
.top-icon {
top: -102px;
}
h1.header-w3ls {
font-size: 62px;
}
.form-left-w3l input[type="password"], .form-left-w3l input[type="email"] {
padding: 0.7em 0em;
margin: 8px 0px 7px;
}
}
@media(max-width:991px){
.main {
width: 38%;
}
.span {
margin-left: 17px;
}
.follow-one a, .follow-two a {
font-size: 14px;
}
.copy {
padding: 34px 0px 27px;
}
}
@media(max-width:900px){
.main {
width: 40%;
}	
.top-icon  {
width: 91px;
height: 91px;
}
.top-icon span {font-size: 47px;
line-height: 91px;}
}
@media(max-width:800px){
.main {
width: 47%;
}
h1.header-w3ls {
font-size: 59px;
padding: 39px 0px 0px;
margin-bottom: 75px;
}
.its-sign-in h2 {
font-size: 22px;
}	
}
@media(max-width:768px){
.main {
width: 48%;
padding: 2.5em 2.5em 2.5em;
}
button[type=submit] {
padding: 13px 0px;
}
.top-icon span {
top: -94px;
}
}
@media(max-width:767px){
.main {
width: 50%;
}
.follow-one a span, .follow-two a span{
margin-left: 11px;
}
}
@media(max-width:736px){
.its-sign-in h2 {
margin: 1em 0em .8em;
}
.top-icon{
width: 89px;
height: 89px;
}	
.top-icon span {
line-height: 89px;
}
.copy p {
font-size: 14px;
}	
}
@media(max-width:667px){
.main {
width: 56%;
}
h1.header-w3ls {
font-size: 57px;
margin-bottom: 71px;
}	
}
@media(max-width:640px){
.top-icon{
width: 85px;
height: 85px;
top: -89px;
}	
.top-icon span {
font-size: 44px;
line-height: 85px;
}
.its-sign-in h2 {
font-size: 20px;
}
.main {
width: 58%;
}
}
@media(max-width:600px){
.main {
padding: 2.1em 2.1em 2.1em;
width: 62%;
}	
.top-icon{
top: -85px;
}
.rem-pass-agile {
margin: 19px 0px 19px;
}
}
@media(max-width:568px){
h1.header-w3ls {
font-size: 54px;
}
.main {
width: 65%;
}	
.copy p {
line-height: 28px;
}
.copy {
padding: 28px 0px 23px;
}
}
@media(max-width:480px){
.main {
width: 70%;
}
.top-icon {
font-size: 41px;
line-height: 81px;
width: 81px;
height: 81px;
top: -78px;
left: 119px;
}	
.top-icon span {
font-size: 41px;
line-height: 81px;
}
}
@media(max-width:440px){
.rem-pass-agile {
flex-direction: column;
text-align: center;
}
.right-side a{
padding-top: 15px;
}
input.checked {
left: 61px;
}
.follow-one a, .follow-two a {
padding: .7em .8em;
}
.icons {
margin-bottom: 16px;
}
}
@media(max-width:414px){
.icons {
flex-direction: column;
}	
h1.header-w3ls {
font-size: 48px;
}
.top-icon {
left:99px;
}
.line-mid h4{
margin: 19px 0px;
}
input.checked {
left: 51px;
}
}
@media(max-width:384px){
h1.header-w3ls {
letter-spacing: 1px;
}
.top-icon{
left:88px;
}
input.checked {
left: 41px;
}
button[type=submit] {
font-size: 14px;
}
}
@media(max-width:375px){
.top-icon{
width: 78px;
height: 78px;
}	
.top-icon span {
font-size: 38px;
line-height: 78px;
}
.copy {
padding: 23px 0px 19px;
}
}
@media(max-width:320px){
.top-icon {
left: 65px;
}
h1.header-w3ls {
margin-bottom: 60px;
font-size: 44px;
line-height: 44px; 
padding: 27px 0px 0px;
}
.main {
padding: 1.8em 1.8em 1.8em;
}
input.checked {
left: 22px;
}
}
/*--//responsive--*/

