<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
<section class="w3l-footer-22">
    <div class="footer-hny">
        <div class="container">
            <div class="below-section row">
                <div class="columns col-lg-6" style="margin-top:-5px">
                    <ul class="jst-link">
                        <li><a href="#">Privacy Policy </a> </li>
                        <li><a href="#">Term of Service</a></li>
                        <li><a href="contact.html">Customer Care</a> </li>
                    </ul>
                </div>
                <div class="columns col-lg-6 text-lg-right" style="margin-top:10px">
                    <p>© Webpro - Final 
                    </p>
                </div>
                <button onclick="topFunction()" id="movetop" title="Go to top">
                    <span class="fa fa-angle-double-up"></span>
                </button>
            </div>
        </div>
    </div>
</section>
